<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.stefangreve.environment</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>launchctl setenv DOTNET_CLI_TELEMETRY_OPTOUT 1 &amp;&amp; launchctl setenv DO_NOT_TRACK 1 &amp;&amp; launchctl setenv POWERSHELL_TELEMETRY_OPTOUT 1 &amp;&amp; launchctl setenv HOMEBREW_NO_ANALYTICS 1</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
